<!-- About Section -->
<section class="section-full flex no-padding items-center flex-wrap justify-between md:justify-center mh-100vh px-10 relative" style="background-image: url('assets/background_3.jpg')">
    <div class="max-w-6xl md:flex section-padding-top md:py-0 px-6">
        <div class="flex md:w-50">
            <div>
                <div class="pb-4" style="height: 50%"><img src="assets/background_1.jpg" alt="" style="object-fit: cover; height: 100%; width: 100%;"></div>
                <div style="height: 50%"><img src="assets/background_1.jpg" alt="" style="object-fit: cover; height: 100%; width: 100%;"></div>
            </div>
            <div>
                <div class="ps-4" style="height: 100%"><img src="assets/background_1.jpg" alt="" style="object-fit: cover; height: 100%; width: 100%;"></div>
            </div>
        </div>
    
        <div class="py-12 md:ps-12 md:py-0 md:w-50 text-white">
            <h4>First Name</h4>
            <p>
                First Name is a photographer and web designer based in Toronto, Canada, who in recent years has far reaching artistic goals in capturing moments within the wildlife and portrait genre.
                <br><br>With a background in behavioral economics and web design, First started his career working with digital art production and has several years of experience with creative retouching, layout and graphic design, before venturing into composition and photography.
                <br><br>In combination with a great passion for the outdoors, First thrives working in dynamic and challenging environments, living to tell stories through photography and capture important moments with the goal to strengthen our connection with one another and preserve life's many pivotal times.
            </p>
        </div>
    </div>
</section>

<section class="hero relative" style="background-image: url('{{ background }}')">
    <h1 class="foreground-text mirrored text-shadow">{{ heading ?? "ABOUT ME" }}</h1>
    <div class="foreground-subtext mirrored text-shadow flex justify-center items-center gap-2">
        <hr width="24">
        <h2 class="">{{ subheading ?? "What's behind the curtain?" }}</h2>
        <hr width="24">
    </div>

    <div class="hidden unselectable md:flex bottom-left-action justify-between items-center gap-6 text-sideways">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="bevel" stroke-linejoin="bevel"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>        <hr width="24">
        <h5 class="font-bold">Share</h5>
    </div>

    <a class="unselectable flex flex-col bottom-middle-action gap-6" href="#page_content">
        <div class="scroll_box relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="bevel" stroke-linejoin="bevel"><path d="M7 13l5 5 5-5M7 6l5 5 5-5"/></svg>
        </div>
        <div class="center-line"></div>
    </a>
</section>

<section class="section pt-10 items-start p-6 max-w-3xl mx-auto">
    <div class="">
        
    </div>
    <div class="">
        
    </div>
</section>