<!-- About Section -->
<section class="section-full flex no-padding items-center flex-wrap justify-between md:justify-center mh-100vh px-10 relative" style="background-image: url('assets/background_3.jpg')">
    <div class="max-w-6xl md:flex section-padding-top md:py-0 px-6">
        <div class="flex md:w-50">
            <div>
                <div class="pb-4" style="height: 50%"><img src="{{ photos[1] }}" alt="" style="object-fit: cover; height: 100%; width: 100%;"></div>
                <div style="height: 50%"><img src="{{ photos[1] }}" alt="" style="object-fit: cover; height: 100%; width: 100%;"></div>
            </div>
            <div>
                <div class="ps-4" style="height: 100%"><img src="{{ photos[1] }}" alt="" style="object-fit: cover; height: 100%; width: 100%;"></div>
            </div>
        </div>

        <div class="py-12 md:ps-12 md:py-0 md:w-50 text-white">
            <h4>{{ name }}</h4>
            <p>
                {{ about }}
            </p>
        </div>
    </div>
</section>

<section class="section pt-10 items-start p-6 max-w-3xl mx-auto">
</section>
