<!-- Hero -->
<div id="cover" class=""></div>

<!-- <section class="hero" style="background-image: url('{{ background }}')"></section> -->

{{ partial:heros }}

<!-- Text Section -->
{{ information_section }}
<section class="section section-padding-top md:py-0 vh-60 justify-center items-center md:flex p-6">
    <div class="split flex flex-wrap max-w-4xl">
        <div class="flex-1 min-width-full md:min-width-unset p-6 gap-y-4 dark:text-white">
            <h6>{{ teaser }}</h6>
            <h4 class="mt-6 mb-9">{{ heading }}</h4>
            <a href="{{ link }}" class="underline-link">{{ link_text }}</a>
        </div>
        <div class="flex-1 p-6 text-muted">
            {{ content }}
        </div>
    </div>
</section>
{{ /information_section }}

{{ banners[0] }}
    {{ partial:banner }}
{{ /banners[0] }}

<!-- Gallery -->
<section class="section relative">
    <div class="w-90 p-6 max-w-6xl flex flex-col justify-center items-center relative">
        <div class="works-text bg-slate-100 md:absolute md:works-desktop dark:text-white dark:bg-slate-500 works-title">
            <h2 class="my-8 p-2 md:p-3 md:m-0 text-medium">Featured Works</h2>
        </div>

        <div class="gallery">
            {{ featured_works }}
            <a class="gallery-item" href="{{ url }}">
                <figure class="background-cover" style="background-image: url('{{ glide :src="featured_image" width="600" height="400" fit="crop_focal" }}')">
                    <div class="gallery-heading">{{ name }}</div>
                </figure>
            </a>
            {{ /featured_works }}
        </div>

        <a class="works-text bg-slate-100 md:absolute md:works-desktop dark:text-white dark:bg-slate-500 works-cta" href="/galleries">
            <h2 class="my-8 p-2 md:p-3 md:m-0 text-medium flex items-center justify-center">
                <span class="me-3">
                    See Galleries
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 17l5-5-5-5"/><path d="M13.8 12H3m9 10a10 10 0 1 0 0-20"/></svg></h2>
        </a>
    </div>
</section>
<!-- End of Gallery -->

{{ banners[1] }}
    {{ partial:banner }}
{{ /banners[1] }}

{{ partial:call-to-action }}

