<!doctype html>
<html id="html" lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? "Phil Charitou Photography" }}</title>
        <meta property="og:title" content="Phil Charitou | Toronto based Photographer">
        <meta property="og:site_name" content="Phil Charitou Photography">
        <meta name="description" content="Phil is a Toronto based photographer who captures authentic, timeless and intentional personal branding, headshots, portraits and family and event photography sessions. Your go-to destination for heartwarming and thought provoking captures from behind the lens. Book your session today!">

        <meta name="csrf-token" content="{{ csrf_token }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BRZW6272K1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-BRZW6272K1');
        </script>

        <!-- Toggle Darkmode -->
        <script>
            function setTheme() {
                if ((localStorage.theme === 'dark') || (!('theme' in localStorage) && !window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark');
                    // toggle icons inside button
                    themeToggleDarkIcon.classList.remove('hidden');
                    themeToggleLightIcon.classList.add('hidden');
                } else {
                    document.documentElement.classList.remove('dark');
                    // toggle icons inside button
                    themeToggleDarkIcon.classList.add('hidden');
                    themeToggleLightIcon.classList.remove('hidden');
                }
            }

            function toggleTheme() {
                const currentTheme = localStorage.theme;
                localStorage.theme = (currentTheme === 'dark') ? 'light' : 'dark';
                setTheme();
            }
        </script>

        <!--<link rel="stylesheet" href="https://phil-charitou-static-files.b-cdn.net/css/site.css" />-->
        <link rel="stylesheet" href="/css/site.css" />

         <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Font Connections -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Karla:wght@200;300;400;500;600;700;800&family=Pacifico&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

        <script>
            $(window).scroll(function () {
                $('#navigation-bar').toggleClass('scrolled', $(this).scrollTop() > 50);

                if(localStorage.theme !== 'dark') {
                    $('#logo').toggleClass('svg-black', $(this).scrollTop() > 50);
                }
            });
        </script>

        <script defer src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'></script>
        <script defer src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>

        <script defer src="https://unpkg.com/alpinejs"></script>
    </head>
    <body class="relative bg-gray-50 dark:bg-slate-800" x-data="{ openMenu : false, openShare : false, showSearch: false, searchQuery: '', searchResults: false, showImage: false, imageUrl: '' }" :class="(openMenu || openShare) ? 'overflow-hidden' : 'overflow-visible' "  x-on:keydown.escape="showImage = false">
        <header class="max-w-7xl">
            {{ partial:nav }}
        </header>

        {{ template_content }}
        {{ partial:footer }}

        <!-- Search Modal -->
        <div class="fixed p-[12vh] inset-0 backdrop-blur-sm flex flex-col overflow-auto bg-black bg-opacity-50" style="z-index: 15"
            x-cloak
            x-transition.opacity
            x-show="showSearch"
            x-trap.noscroll="showSearch"
        >
                <div class="mx-auto text-left bg-gray-200 w-full rounded max-w-3xl" click.away="showSearch = false" x-transition @click.outside="showSearch = false; searchQuery = ''">
                    <form action="search" class="p-2 flex items-center px-6">
                        <svg class="mr-4" xmlns="http://www.w3.org/2000/svg" height="21" width="21" viewBox="0 0 16 16"><path d="M15.587 14.413l-4.354-4.353A6.1 6.1 0 0012.5 6.333a6.18 6.18 0 10-2.44 4.907l4.353 4.353a.84.84 0 001.174 0 .833.833 0 000-1.18zM1.833 6.333a4.5 4.5 0 114.5 4.5 4.507 4.507 0 01-4.5-4.5z" fill="currentColor"/></svg>
                        <input name="q" type="text" ref="searchInput" x-model="searchQuery" class="bg-transparent block w-full inline-block py-2 focus:outline-none focus:ring-0 border-0 focus:border-0 focus-border focus-border-white" placeholder="Search for anything...">
                        <button class="text-2xs tracking-wider bg-gray-300 px-1 py-px rounded hover:text-white" @click="showSearch = false">ESC</button>
                    </form>
                </div>
        </div>

        <!-- Lightbox Modal -->
        <div id="lightbox" class="fixed p-5 md:p-[12vh] inset-0 backdrop-blur-sm flex justify-center items-center overflow-auto bg-black bg-opacity-50" style="z-index: 99"
            x-cloak
            x-transition.opacity
            x-show="showImage"
            x-trap.noscroll="showImage"
             @click="showImage = false"
        >
            <img :src="imageUrl" alt="Lightbox Image" class="lightbox">
        </div>

        <!-- Mobile Navigation -->
        <nav id="mobile-navigation" class="fixed top-0 right-0 bottom-0 left-0 flex z-30"
             :class="openMenu ? 'visible' : 'invisible' " x-cloak>

            <div class="relative w-full h-100 flex-1 transition-all" :class="openMenu ? 'translate-x-0' : '-translate-x-full'">
                <!-- UL Links -->
                <ul class="relative me-auto h-100 w-full md:w-4/12 px-6 py-7 bg-white dark:bg-neutral-800 dark:text-white drop-shadow-2xl z-10">
                    <!-- Close Button -->
                    <li class="pb-8">
                        <button class="" @click="openMenu = !openMenu" :aria-expanded="openMenu"
                                aria-controls="mobile-navigation" aria-label="Close Navigation Menu">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </li>
                    <li class="hover:text-neutral-500">
                        {{ nav:main_nav }}
                        <ul>
                            <li class="hover:text-black dark:hover:text-neutral-300 dark:hover:text-white svg-invisible hover:svg-visible border-b border-inherit">
                                <a href="{{ url }}" class="block py-4 flex justify-between items-center">
                                    <span>{{ title }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                                        <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
                                    </svg>
                                </a>

                            </li>
                        </ul>
                        {{ /nav:main_nav  }}
                    </li>
                    <li class="flex py-10 gap-6">
                        <a class="hover:text-neutral-400 transition" href="#">{{ partial:instagram size="32" color="#000000" }}</a>
                        <a class="hover:text-neutral-400 transition" href="#">{{ partial:facebook size="32" color="#000000" }}</a>
                        <a class="hover:text-neutral-400 transition" href="#">{{ partial:linkedin size="32" color="#000000" }}</a>
                    </li>
                    <li class="flex-1"></li>
                    <li>
                        <div class="flex flex-col text-sm gap-6">
                            <div>
                                <span class="">Get in Touch</span>
                            </div>
                            <div>
                                <a class="" href="tel:+{{ contact_information:phone_number_unformatted }}">{{ contact_information:phone_number }}</a>
                            </div>
                            <div>
                                <a class="" href="mailto:contact@drapeandstitch.com?subject=Uniform%2FUX%20Inquiry">{{ contact_information:email }}</a>
                            </div>
                        </div>
                    </li>
                    <li class="pt-16">
                        <button onclick="toggleTheme()" aria-label="Theme Toggle Button" id="theme-toggle" type="button" class="w-full text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-md text-sm">
                            <div id="theme-toggle-dark-icon" class="p-2 border-light rounded-md flex justify-between items-center w-full">
                                <svg width="30" height="30" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                                </svg>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                                    </svg>
                                    <span class="ps-4">Light Mode</span>
                                </div>
                            </div>

                            <div id="theme-toggle-light-icon" class="p-2 border-light rounded-md flex justify-between items-center w-full">
                                <svg width="30" height="30" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                                </svg>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                                    </svg>
                                    <span class="ps-4">Dark Mode</span>
                                </div>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="absolute z-40 w-full inset-0 opacity-75 pointer-events-none" style="background: url('https://phil-charitou-static-files.b-cdn.net/assets/film-overlay.png') top center; background-size: 1400px"></div>

        <script defer src="/js/all.js"></script>
    </body>
</html>
