<!-- About Section -->
<section class="section-full flex no-padding items-center flex-wrap justify-between md:justify-center mh-100vh px-10 relative" style="background-image: url('{{ glide :src="hero" width="1920" height="1080" fit="crop_focal" }}')">
    <div class="max-w-6xl md:flex section-padding-top md:py-0 px-6">
        <div class="flex md:w-50">
            <div>
                <div class="pb-4" style="height: 50%"><img src="{{ glide :src="photos[0]" width="700" height="450" fit="crop_focal" }}" alt="An image of Pphotographer hil Charitou, featured in the About Me section" style="object-fit: cover; height: 100%; width: 100%;"></div>
                <div style="height: 50%"><img src="{{ glide :src="photos[1]" width="700" height="450" fit="crop_focal" }}" alt="An image of photographer Phil Charitou, featured in the About Me section" style="object-fit: cover; height: 100%; width: 100%;"></div>
            </div>
            <div>
                <div class="ps-4" style="height: 100%"><img src="{{ glide :src="photos[2]" width="200" height="600" fit="crop_focal" }}" alt="An image of Pphotographer hil Charitou, featured in the About Me section" style="object-fit: cover; height: 100%; width: 100%;"></div>
            </div>
        </div>

        <div class="py-12 mb-12 md:ps-12 md:py-0 md:w-50 text-white flex flex-col justify-between">
            <h4>{{ name }}</h4>
            {{ about }}
        </div>
    </div>
</section>

{{ partial:section-break }}
