<a class="hidden unselectable md:flex bottom-left-action justify-between items-center gap-6 text-sideways" @click="openShare = !openShare"
   :aria-expanded="openShare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>        <hr width="24">
    <h5 class="font-bold">Share</h5>
</a>

<div class="flex items-center justify-center h-screen w-full fixed z-20" :class="openShare ? 'visible' : 'invisible' " x-cloak>
    <div class="p-12 rounded-lg shadow-md bg-white flex justify-between items-center gap-8 z-20">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=philcharitou.com">{{ partial:facebook size="60" }}</a>
        <a target="_blank" href="mailto:%7Bemail_address%7D?subject=&body=Check out this portfolio I found: philcharitou.com%20">{{ partial:mail size="60" }}</a>
        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=philcharitou.com">{{ partial:linkedin size="60" }}</a>
        <a target="_blank" href="https://www.pinterest.com/pin/create/button?url=philcharitou.com&media=&description=Check out this portfolio I found!">{{ partial:pinterest size="60" }}</a>
    </div>

    <div class="z-10 w-full h-screen absolute bg-black opacity-50" @click="openShare = !openShare">

    </div>
</div>
