<footer class="max-w-3xl mx-auto">
    <div class="mx-auto p-8 lg:p-12 flex flex-col justify-between text-center dark:text-white lg:text-left">
        <div class="flex flex-col lg:flex-row justify-center lg:space-y-0">
            <a class="dark:text-white font-bold text-center" href="/">
                <h3 class="mb-6">What's next</h3>
                <h2>Still Interested?</h2>
            </a>
        </div>
        <div class="flex w-full text-justify md:text-center py-9 justify-center gap-6">
            <p class="increased-line-height">
                If you'd like to talk about a project you want help with or simply want to talk shop, just drop me a message at <strong class="text-colored">contact@philcharitou.com</strong>
                I'm currently available for portrait, family and event shoots.
            </p>
        </div>
        <div class="flex w-full items-end justify-center">
            <a href="mailto:contact@philcharitou.com?subject=Photoshoot%2FUX%20Inquiry" class="underline-link flex">
                <span class="mr-3">Get in touch</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            </a>
        </div>
    </div>
</footer>
