<section class="section md:py-0 mt-72 justify-between items-center p-4 dark:text-white">
    <div class="instagram-field max-w-6xl flex flex-wrap justify-center gap-6">
        <img id="instagram_3" class="background-instagram-square" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Background Instagram Post">
        <img id="instagram_4" class="background-instagram-square" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Background Instagram Post">
        <img id="instagram_5" class="background-instagram-square" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Background Instagram Post">
        <img id="instagram_6" class="background-instagram-square" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Background Instagram Post">
        <img id="instagram_7" class="background-instagram-square" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Background Instagram Post">

        <a target="_blank" href="https://www.instagram.com/philcharitou" class="instagram-wrapper relative">
            <svg class="absolute left-2 top-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff"><path d="M16.98 0a6.9 6.9 0 0 1 5.08 1.98A6.94 6.94 0 0 1 24 7.02v9.96c0 2.08-.68 3.87-1.98 5.13A7.14 7.14 0 0 1 16.94 24H7.06a7.06 7.06 0 0 1-5.03-1.89A6.96 6.96 0 0 1 0 16.94V7.02C0 2.8 2.8 0 7.02 0h9.96zm.05 2.23H7.06c-1.45 0-2.7.43-3.53 1.25a4.82 4.82 0 0 0-1.3 3.54v9.92c0 1.5.43 2.7 1.3 3.58a5 5 0 0 0 3.53 1.25h9.88a5 5 0 0 0 3.53-1.25 4.73 4.73 0 0 0 1.4-3.54V7.02a5 5 0 0 0-1.3-3.49 4.82 4.82 0 0 0-3.54-1.3zM12 5.76c3.39 0 6.2 2.8 6.2 6.2a6.2 6.2 0 0 1-12.4 0 6.2 6.2 0 0 1 6.2-6.2zm0 2.22a3.99 3.99 0 0 0-3.97 3.97A3.99 3.99 0 0 0 12 15.92a3.99 3.99 0 0 0 3.97-3.97A3.99 3.99 0 0 0 12 7.98zm6.44-3.77a1.4 1.4 0 1 1 0 2.8 1.4 1.4 0 0 1 0-2.8z"/></svg>
            <img id="instagram_0" class="instagram-square transition ease-in-out hover:scale-95" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Latest Instagram Post">
        </a>
        <a target="_blank" href="https://www.instagram.com/philcharitou" class="instagram-wrapper relative">
            <svg class="absolute left-2 top-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff"><path d="M16.98 0a6.9 6.9 0 0 1 5.08 1.98A6.94 6.94 0 0 1 24 7.02v9.96c0 2.08-.68 3.87-1.98 5.13A7.14 7.14 0 0 1 16.94 24H7.06a7.06 7.06 0 0 1-5.03-1.89A6.96 6.96 0 0 1 0 16.94V7.02C0 2.8 2.8 0 7.02 0h9.96zm.05 2.23H7.06c-1.45 0-2.7.43-3.53 1.25a4.82 4.82 0 0 0-1.3 3.54v9.92c0 1.5.43 2.7 1.3 3.58a5 5 0 0 0 3.53 1.25h9.88a5 5 0 0 0 3.53-1.25 4.73 4.73 0 0 0 1.4-3.54V7.02a5 5 0 0 0-1.3-3.49 4.82 4.82 0 0 0-3.54-1.3zM12 5.76c3.39 0 6.2 2.8 6.2 6.2a6.2 6.2 0 0 1-12.4 0 6.2 6.2 0 0 1 6.2-6.2zm0 2.22a3.99 3.99 0 0 0-3.97 3.97A3.99 3.99 0 0 0 12 15.92a3.99 3.99 0 0 0 3.97-3.97A3.99 3.99 0 0 0 12 7.98zm6.44-3.77a1.4 1.4 0 1 1 0 2.8 1.4 1.4 0 0 1 0-2.8z"/></svg>
            <img id="instagram_1" class="instagram-square transition ease-in-out hover:scale-95" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Second Latest Instagram Post">
        </a>
        <a target="_blank" href="https://www.instagram.com/philcharitou" class="instagram-wrapper relative">
            <svg class="absolute left-2 top-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff"><path d="M16.98 0a6.9 6.9 0 0 1 5.08 1.98A6.94 6.94 0 0 1 24 7.02v9.96c0 2.08-.68 3.87-1.98 5.13A7.14 7.14 0 0 1 16.94 24H7.06a7.06 7.06 0 0 1-5.03-1.89A6.96 6.96 0 0 1 0 16.94V7.02C0 2.8 2.8 0 7.02 0h9.96zm.05 2.23H7.06c-1.45 0-2.7.43-3.53 1.25a4.82 4.82 0 0 0-1.3 3.54v9.92c0 1.5.43 2.7 1.3 3.58a5 5 0 0 0 3.53 1.25h9.88a5 5 0 0 0 3.53-1.25 4.73 4.73 0 0 0 1.4-3.54V7.02a5 5 0 0 0-1.3-3.49 4.82 4.82 0 0 0-3.54-1.3zM12 5.76c3.39 0 6.2 2.8 6.2 6.2a6.2 6.2 0 0 1-12.4 0 6.2 6.2 0 0 1 6.2-6.2zm0 2.22a3.99 3.99 0 0 0-3.97 3.97A3.99 3.99 0 0 0 12 15.92a3.99 3.99 0 0 0 3.97-3.97A3.99 3.99 0 0 0 12 7.98zm6.44-3.77a1.4 1.4 0 1 1 0 2.8 1.4 1.4 0 0 1 0-2.8z"/></svg>
            <img id="instagram_2" class="instagram-square transition ease-in-out hover:scale-95" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Photographer Phil Charitou's Third Latest Instagram Post">
        </a>
    </div>
</section>

<footer class="pt-12 max-w-6xl mx-auto">
    <div class="mt-12 p-4 md:p-8 lg:p-12 flex flex-wrap space-y-6 md:space-y-0 items-start justify-center text-center dark:text-white lg:text-left">
        <div class="grid grid-cols-1 md:grid-cols-3 w-full">
            <div class="col-span-1 md:text-left my-8">
                <div class="w-full mb-4"><span class="uppercase fw-bold text-medium">NAVIGATE</span></div>
                <ul class="w-full hidden md:block md:w-auto space-y-4 p-0">
                    {{ nav:footer }}
                    <li>
                        <a class="inline-block transition hover:dark:text-white" href="{{ url }}">{{ title }}</a>
                    </li>
                    {{ /nav:footer  }}
                </ul>
                <ul class="w-full block md:hidden md:w-auto gap-4 p-0">
                    {{ nav:legal }}
                    <li>
                        <a class="inline-block transition hover:dark:text-white" href="{{ url }}">{{ title }}</a>
                    </li>
                    {{ /nav:legal  }}
                </ul>
            </div>
            <div class="col-span-1 my-8">
                <div class="w-full text-center mb-4"><span class="uppercase fw-bold text-medium">FOLLOW</span></div>
                <div class="w-full md:w-auto flex justify-center gap-6 p-0">
                    <a class="social-icon dark:text-white hover:text-white transition" aria-label="Social Media link to Instagram" href="https://www.instagram.com/philcharitou">{{ partial:instagram size="32" }}</a>
                    <a class="social-icon dark:text-white hover:text-white transition" aria-label="Social Media link to Facebook" href="#">{{ partial:facebook size="32" }}</a>
                    <a class="social-icon dark:text-white hover:text-white transition" aria-label="Social Media link to Linkedin" href="https://ca.linkedin.com/in/philcharitou">{{ partial:linkedin size="32" }}</a>
                    <a class="social-icon dark:text-white hover:text-white transition" aria-label="Social Media link to Tiktok" href="#">{{ partial:tiktok size="32" }}</a>
                </div>
            </div>
            <div class="col-span-1 md:text-right my-8">
                <div class="w-full mb-4"><span class="uppercase fw-bold text-medium">CONTACT</span></div>
                <ul class="md:w-auto space-y-4 p-0">
                    <li>
                        <a class="inline-block transition hover:dark:text-white" href="tel:+12895002666">+1 (289) 500 - 2666</a>
                    </li>
                    <li>
                        <a class="inline-block transition hover:dark:text-white" href="mailto:contact@philcharitou.com?subject=Photoshoot%2FUX%20Inquiry">contact@philcharitou.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-full flex flex-wrap md:flex-no-wrap text-center justify-between items-end md:pt-12 mb-0">
            <div class="mt-3 w-full md:w-auto flex-fill md:text-left">
                <p class="text-no-wrap">{{ global_footer:copyright }}</p>
            </div>
            <div class="mt-3 w-full md:w-auto dark:text-white md:text-right pacifico">
                <p class="text-no-wrap">{{ global_footer:flair }}</p>
            </div>
        </div>
    </div>
</footer>
