<footer class="pt-12">
    <div class="mt-12 p-4 md:p-8 lg:p-12 flex flex-wrap space-y-6 md:space-y-0 items-center md:justify-between justify-center text-center dark:text-white lg:text-left">
        <div class="w-full md:w-auto">
            <a class="text-3xl dark:text-white font-bold text-items" href="/">
                <h5 class="uppercase text-medium">FIND ME ELSEWHERE</h5>
            </a>
        </div>
        <div class="w-full hidden md:flex md:w-auto flex justify-center gap-4 p-0">
            {{ nav:footer }}
            <a class="px-4 inline-block transition hover:dark:text-white" href="{{ url }}">{{ title }}</a>
            {{ /nav:footer  }}
        </div>
        <div class="w-full flex md:hidden md:w-auto flex justify-center gap-4 p-0">
            {{ nav:legal }}
            <a class="px-4 inline-block transition hover:dark:text-white" href="{{ url }}">{{ title }}</a>
            {{ /nav:legal  }}
        </div>
        <div class="w-full md:w-auto flex justify-center gap-6 p-0">
            <a class="dark:text-white hover:text-white transition" aria-label="Social Media link to Instagram" href="https://www.instagram.com/philcharitou">{{ partial:instagram size="32" }}</a>
            <a class="dark:text-white hover:text-white transition" aria-label="Social Media link to Facebook" href="#">{{ partial:facebook size="32" }}</a>
            <a class="dark:text-white hover:text-white transition" aria-label="Social Media link to Linkedin" href="https://ca.linkedin.com/in/philcharitou">{{ partial:linkedin size="32" }}</a>
            <a class="dark:text-white hover:text-white transition" aria-label="Social Media link to Tiktok" href="#">{{ partial:tiktok size="32" }}</a>
        </div>
        <div class="w-full justify-between items-end flex md:pt-12 mb-0">
            <div class="w-full text-left">
                <p class="text-no-wrap">Phil Charitou &copy; 2023</p>
            </div>
            <span class="dark:text-white w-full text-right pacifico">Made with html</span>
        </div>
    </div>
</footer>
