{{ heros }}
<section class="hero {{ visible ? 'parallax-wrap' : 'hidden' }} relative" style="background-image: url('{{ glide :src="background" width="1920" height="1080" }}')">
    {{ if layout === "text_layer" }}
        <div class="w-full relative overflow-hidden">
            <img class="h-100 foreground" alt="Foreground image within the parallax hero section" src="{{ glide :src="foreground" width="1920" height="1080" }}">
            <h1 class="foreground-text text-shadow">{{ heading }}</h1>
            <div class="foreground-subtext text-shadow flex justify-center items-center gap-2">
                <hr width="24">
                <h2 class="fancy-font">{{ subheading }}</h2>
                <hr width="24">
            </div>
        </div>

        {{ partial:hero-article }}
    {{ elseif layout === "mirrored" }}
        <div class="w-full relative overflow-hidden relative">
            <img class="h-100 foreground mirrored" alt="Foreground image within the parallax hero section" src="{{ glide :src="foreground" width="1920" height="1080" }}">
        </div>

        <h1 class="foreground-text mirrored text-shadow">{{ heading }}</h1>
        {{ if subheading }}
        <div class="foreground-subtext mirrored text-shadow flex justify-center items-center gap-2">
            <hr width="24">
            <h2 class="fancy-font">{{ subheading }}</h2>
            <hr width="24">
        </div>
        {{ /if }}

        {{ partial:hero-article }}
    {{ elseif layout === "aligned_left" }}
        <div class="w-full flex justify-center items-center relative overflow-hidden">
            {{ if foreground }}
            <img class="h-100 foreground" alt="Foreground image within the parallax hero section" src="{{ glide :src="foreground" width="1920" height="1080" }}">
            {{ /if }}
        </div>

        <div class="foreground-text aligned-left text-shadow md:spaced-left">
            <h1>{{ heading }}</h1>
            <h2 class="foreground-subtext fancy-font aligned-left text-shadow md:spaced-left md:mw-500 items-center gap-2">
                {{ subheading }}
            </h2>
        </div>

        {{ partial:hero-article }}
    {{ /if }}

    <div class="hidden unselectable md:flex bottom-left-action justify-between items-center gap-6 text-sideways">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>        <hr width="24">
        <h5 class="font-bold">Share</h5>
    </div>

    <div class="hidden unselectable md:flex bottom-right-action justify-between items-end gap-6" onclick="randomizeHero()">
        <h5 class="font-bold">Refresh</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <path d="M2.5 2v6h6M21.5 22v-6h-6"/><path d="M22 11.5A10 10 0 0 0 3.2 7.2M2 12.5a10 10 0 0 0 18.8 4.2"/></svg>
    </div>
</section>
{{ /heros }}
