<section class="section-full">
    <header class="my-12 md:my-16 lg:my-24 text-center">
        <p class="text-green font-bold text-lg antialiased mb-4">Articles / Tags</p>
        <h1 class="text-6xl md:text-7xl lg:text-7xl dark:text-white font-bold">{{ title }}</h1>
    </header>

    <div class="max-w-6xl mx-auto flex-col space-y-4 pt-6 dark:text-white">
        {{ entries }}
        {{ if no_results }}
        <h1 class="text-center">no results</h1>
        {{ /if }}
        <div class="py-4">
            <div class="p-3">
                <div class="flex items-center justify-between">
                    <h2><a class="inline-block text-yellow hover:underline text-3xl font-bold" href="{{ url }}">{{ title }}</a></h2>
                    <div class="px-3 py-1 text-gray-500 font-bold bg-blue rounded-full uppercase text-sm">{{ collection }}</div>
                </div>
                <div class="mt-2 font-regular">
                    {{ (content ?? caption ?? client) | safe_truncate(140) }}...
                </div>
            </div>
        </div>
        {{ /entries }}
    </div>
</section>
