<section class="card-section section-full flex no-padding items-center flex-wrap justify-between md:justify-center mh-100vh px-10 relative"
         style="background-image: url('assets/background_3.jpg')">
    <div class="legal-card-head flex flex-col justify-between">
        <!-- Introduction -->
        <div>
            <div>
                <strong style="font-size: 26px;">TERMS OF USE</strong>
            </div>
            <br>
            <i>
                September 15, 2023
            </i>
            <br><br>
            <div>
                WIP
            </div>
            <br>
        </div>
        <!-- END OF Introduction -->
    </div>
</section>

<section class="relative section-padding-top">
    <div class="legal-card">
        <div data-custom-class="body">
        </div>
    </div>

    <style>
        section table th, section table td {
            padding: 0.5rem;
            border: solid 1px lightgray;
        }
        section hr {
            margin: 2rem 0;
        }
        section ul {
            list-style: circle;
        }
        section ul li {
            margin: 1rem 0 1rem 2rem;
        }
    </style>
</section>
