<section class="hero relative" style="background-image: url('{{ glide :src="hero_image" width="1920" height="1080" fit="crop_focal" }}')">
    <h1 class="foreground-text muted text-shadow">{{ heading ?? "GALLERIES" }}</h1>
    <div class="foreground-subtext muted text-shadow flex justify-center items-center gap-2">
        <hr width="24">
        <span class="px-4 md:px-8 md:text-3xl">{{ subheading ?? "Sorted by Subject" }}</span>
        <hr width="24">
    </div>

    <div class="hidden unselectable md:flex bottom-left-action justify-between items-center gap-6 text-sideways">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="bevel" stroke-linejoin="bevel"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>        <hr width="24">
        <h5 class="font-bold">Share</h5>
    </div>

    {{ partial:scroll-down }}
</section>

<!-- Text Section -->
{{ information_section }}
<section class="section vh-60 justify-center items-center md:flex p-6">
    <div class="split flex flex-wrap max-w-4xl">
        <div class="flex-1 min-width-full md:min-width-unset p-6 gap-y-4 dark:text-white">
            <h6>{{ teaser }}</h6>
            <h4 class="mt-6 mb-9">{{ heading }}</h4>
            <a href="{{ link }}" class="underline-link">{{ link_text }}</a>
        </div>
        <div class="flex-1 p-6 text-muted">
            {{ content }}
        </div>
    </div>
</section>
{{ /information_section }}

<section class="galleries">
    <div class="w-full flex flex-col flex-wrap">
        {{ collection:gallery }}
            <a href="{{ url }}" class="gallery-object py-6 px-6 md:px-12 parallax" style="background-image: url('{{ glide :src="featured_image" width="900" height="600" fit="crop_focal" }}');">
                <div class="gallery-details">
                    <h1>{{ name }}</h1>
                </div>
            </a>
        {{ /collection:gallery }}
    </div>
</section>

<!-- Text Section -->
<section class="w-full flex flex-wrap md:flex-no-wrap center-heading md:center-heading-reorder md:vh-80 justify-center items-center mx-auto my-10 py-6">
    <div class="w-50 mb-12 md:mb-0 md:w-25 h-full flex items-end">
        <img class="w-full object-cover" src="{{ glide :src="primary_image" width="900" height="600" fit="crop_focal" }}">
    </div>
    <div class="w-50 mb-12 md:mb-0 md:w-25 h-full flex items-start">
        <img class="w-full object-cover" src="{{ glide :src="secondary_image" width="900" height="600" fit="crop_focal" }}">
    </div>
    <div class="max-50 mx-auto z-10">
        <div class="px-12 gap-y-12 flex flex-col">
            <div class="flex flex-col items-center text-center">
                <svg class="w-6 h-6 text-gray-800 dark:text-white flip-horizontal" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                    <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
                </svg>
                <p class="dark:text-white quote my-4">{{ primary_text }}</p>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                    <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
                </svg>
            </div>
            <div class="dark:text-white text-center">
                <p class="fancy-font uppercase">{{ secondary_text }}</p>
                <a class="block w-50 mx-auto my-8 text-small border-light text-center p-4" href="/contact">
                    <span>Get in Touch</span>
                </a>
            </div>
        </div>
    </div>
</section>
