<section class="hero relative" style="background-image: url('assets/background_3.jpg')">
    <h1 class="foreground-text mirrored text-shadow">{{ heading ?? "GALLERIES" }}</h1>
    <div class="foreground-subtext mirrored text-shadow flex justify-center items-center gap-2">
        <hr width="24">
        <h2 class="px-8">{{ subheading ?? "Sorted by Subject" }}</h2>
        <hr width="24">
    </div>

    <div class="hidden unselectable md:flex bottom-left-action justify-between items-center gap-6 text-sideways">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="bevel" stroke-linejoin="bevel"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>        <hr width="24">
        <h5 class="font-bold">Share</h5>
    </div>

    <a class="unselectable flex flex-col bottom-middle-action gap-6" href="#page_content">
        <div class="scroll_box relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="bevel" stroke-linejoin="bevel"><path d="M7 13l5 5 5-5M7 6l5 5 5-5"/></svg>
        </div>
        <div class="center-line"></div>
    </a>
</section>

<!-- Text Section -->
{{ information_section }}
<section class="section vh-60 justify-center items-center md:flex p-6">
    <div class="split flex flex-wrap max-w-4xl">
        <div class="flex-1 min-width-full md:min-width-unset p-6 gap-y-4 dark:text-white">
            <h6>{{ teaser }}</h6>
            <h4 class="mt-6 mb-9">{{ heading }}</h4>
            <a href="{{ link }}" class="underline-link">{{ link_text }}</a>
        </div>
        <div class="flex-1 p-6 text-muted">
            {{ content }}
        </div>
    </div>
</section>
{{ /information_section }}

<section class="galleries">
    <div class="w-full flex flex-col flex-wrap">
        {{ collection:gallery }}
            <a href="{{ url }}" class="gallery-object py-6 px-12 parallax" style="background-image: url('{{ featured_image }}');">
                <div class="gallery-details">
                    <h1>{{ title }}</h1>
                </div>
            </a>
        {{ /collection:gallery }}
    </div>
</section>

<!-- Text Section -->
<section class="w-full flex flex-wrap md:flex-no-wrap center-heading md:center-heading-reorder vh-80 justify-center items-center mx-auto my-10 py-6">
    <div class="w-50 md:w-25 h-full flex items-end">
        <img class="w-full" src="assets/background_3.jpg">
    </div>
    <div class="w-50 md:w-25 h-full flex items-start">
        <img class="w-full" src="assets/background_3.jpg">
    </div>
    <div class="max-50 mx-auto z-10">
        <div class="px-12 gap-y-12 flex flex-col">
            <div class=text-center>
                <i class="fa-2x fa-solid fa-quote-left"></i>
                <h1 class="my-4">In the tapestry of time, ephemeral moments may wane, yet through the lense, memories forever remain.</h1>
                <i class="fa-2x fa-solid fa-quote-right"></i>
            </div>
            <h2>CONSIDER ME YOUR EYES AND ADVOCATE.</h2>
            <a class="block w-50 mx-auto text-small border-light text-center p-4">
                Get in Touch
            </a>
        </div>
    </div>
</section>