<section class="hero" style="background-image: url('{{ glide :src="featured_image" width="1920" height="1080" fit="crop_focal" }}')">
</section>

<section class="gallery-info p-12">
    <div class="max-w-6xl mx-auto">
        <p class="space-x-4 text-gray-500 dark:text-gray-300 text-small pb-6"><a href="/articles">Articles</a><span>/</span><a href="/parent">Parent Link</a></p>
        <div class="flex mt-12">
            <div class="flex-1">
                <p class="text-2xl text-gray-500">Title</h2>
                <p class="text-3xl mt-6 mb-12">{{ title }}</p>
                <p class="text-2xl text-gray-500">Role</h2>
                <p class="text-3xl mt-6 mb-12">{{ role }}</p>
                <p class="text-2xl text-gray-500">Client</h2>
                <p class="text-3xl mt-6 ">{{ client }}</p>
            </div>
            <div class="flex-1">
                {{ content }}
            </div>
        </div>
    </div>
</section>

<section class="p-12">
    <div id="gallery-contents" class="flex flex-col max-w-6xl mx-auto relative pb-9">
        {{ contents }}
        <div class="gallery-content">
            <img class="gallery-image" src="{{ glide :src="image" width="1200" height="1200" fit="crop_focal" }}" alt="{{ image:alt }}" @click="showImage = true; imageUrl = this.src; $focus.next()">
            <div class="flex-1">
                <h3 class="font-bold">{{ caption }}</h2>
                <h6 class="font-bold">{{ metadata }}</h6>
            </div>
        </div>
        {{ /contents }}
    </div>
</section>
