<div class="overflow-hidden {{ if related_gallery && show_related }} rounded-t-xl {{ else }} rounded-xl {{ /if }} h-[500px] dark:text-white block bg-slate-200 dark:bg-slate-600 group flex flex-col hover:scale-105 transition duration-[400ms] ease-in-out">
    <a href="{{ url }}" class="relative overflow-hidden rounded-t-xl">
        <img class="object-cover transition duration-[400ms] ease-in-out scale-110 group-hover:scale-100 w-full h-60" src="{{ glide :src="featured_image" width="600" height="400" fit="crop_focal" }}" alt="">
        <div class="absolute opacity-0 transition duration-[400ms] ease-in-out group-hover:opacity-75 z-20 inset-0 mix-blend-overlay object-cover w-full h-60 bg-gradient-to-br from-orange-dark to-aqua"></div>
    </a>
    <div class="px-6 py-8 flex flex-col justify-between flex-1">
        <h3 class="font-bold text-2xl text-gray-500 dark:text-gray-200">
            <a href="{{ url }}" class="transition hover:text-gray-700">{{ article_title }}</a>
        </h3>
        <div class="flex flex-wrap gap-4">
            {{ if tags && ! show_tags }}
                {{ tags limit="3" }}
                <a href="{{ url }}" class="px-3 py-1 text-gray-100 font-bold bg-slate-600 transition rounded-full text-sm">{{ title }}</a>
                {{ /tags }}
            {{ /if }}
        </div>
        <div class="flex items-end justify-between">
            <div>
                <p>{{ date }}</p>
                <p class="text-sm">By <a href="" class="text-gray-700 dark:text-white hover:text-white">{{ author }}</a></p>
            </div>
        </div>
    </div>
    {{ if related_gallery && show_related }}
    <a href="{{ related_gallery:url }}" class="relative overflow-hidden rounded-b-lg">
        <img class="object-cover transition duration-[400ms] ease-in-out scale-110 group-hover:scale-100 w-full h-16" src="{{ glide :src="related_gallery:featured_image" width="600" height="400" fit="crop_focal" }}" alt="">
        <div class="px-6 absolute md:opacity-0 transition duration-[400ms] text-white text-shadow ease-in-out group-hover:opacity-75 z-20 inset-0 object-cover w-full h-full bg-gradient-to-br flex items-center">
            <p>Related Gallery: {{ related_gallery:title }}</p>
        </div>
    </a>
    {{ /if }}
</div>
