<div class="overflow-hidden rounded-md h-[200px] block bg-slate-200 dark:bg-slate-600 group flex flex-col hover:scale-105 transition duration-[400ms] ease-in-out">
    <a href="{{ url }}" class="relative overflow-hidden rounded-t-xl">
        <img class="object-cover transition duration-[400ms] ease-in-out scale-110 group-hover:scale-100 w-full h-80" src="{{ glide :src="featured_image" width="600" height="400" fit="crop_focal" }}" alt="Featured Blog Photograph for {{ title }}">
    </a>
    <div class="p-4 flex flex-col justify-between flex-1 space-y-3">
        <h3 class="pt-0">
            <a href="{{ url }}" class="transition hover:text-gray-700">{{ article_title }}</a>
        </h3>
        <div class="flex items-end justify-between">
            <div>
                <p>{{ date }}</p>
            </div>
        </div>
    </div>
</div>
