<section class="hero relative" style="background-image: url('{{ glide :src="hero_image" width="1920" height="1080" fit="crop_focal" }}')">
    <h1 class="foreground-text muted text-shadow">{{ heading ?? "ARTICLES" }}</h1>
    <div class="foreground-subtext muted text-shadow flex justify-center items-center gap-2">
        <hr width="12">
        <span class="px-4 md:px-8 md:text-3xl">{{ subheading ?? "Discover our Latest Articles" }}</span>
        <hr width="12">
    </div>

    <div class="hidden unselectable md:flex bottom-left-action justify-between items-center gap-6 text-sideways">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="bevel" stroke-linejoin="bevel"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>        <hr width="24">
        <h5 class="font-bold">Share</h5>
    </div>

    {{ partial:scroll-down }}
</section>

<!-- Text Section -->
{{ information_section }}
<section class="section vh-60 justify-center items-center md:flex p-6">
    <div class="split flex flex-wrap max-w-4xl">
        <div class="flex-1 min-width-full md:min-width-unset p-6 gap-y-4 dark:text-white">
            <h6>{{ teaser }}</h6>
            <h4 class="mt-6 mb-9">{{ heading }}</h4>
            <a href="{{ link }}" class="underline-link">{{ link_text }}</a>
        </div>
        <div class="flex-1 p-6 text-muted">
            {{ content }}
        </div>
    </div>
</section>
{{ /information_section }}

<section class="my-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-6xl mx-auto gap-x-8 gap-y-16 px-4">
    {{ collection:articles limit="5" }}
        {{ partial:articles/card show_related=true show_tags=true }}
    {{ /collection:articles }}
</section>
